body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.websocket-status {
    margin-top: 2rem;
}

#create-room-form {
    margin-top: 2rem;
}

h2 {
    margin-top: 2rem;
    border-bottom: 2px solid #333;
    padding-bottom: 1rem;
}

#room-list {
    list-style-type: none;
    padding: 0;
}

#room-list li {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.popup-input input {
    width: 80%;
}

.main-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.main-button:hover {
    background-color: #45a049;
}