body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.login-form {
    width: 300px;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.login-form input, .login-form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}
.login-form button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border: none;
}
.login-form button:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}