body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f9f9f9;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
}

.lead {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; /* 간격을 원하는 크기로 조정하세요. */
}

.row.tight {
    margin: 0;
}

.service-card {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* 원하는 너비 비율로 조정하세요. */
    margin: 0 auto; /* 카드를 중앙에 배치 */
}

.service-card img {
    width: 50px;
    height: 50px;
}

.service-card h2 {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}

.service-card p {
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#logout {
    background-color: #ff4b5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logout:hover {
    background-color: #ff6b7d;
}

@media (max-width: 768px) {
    .services {
        flex-direction: column;
    }

    .service-card {
        margin-bottom: 20px;
    }
}

/* 사이드바 스타일 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* 푸터 스타일 */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.footer p {
    color: #666;
}

/* 반응형 스타일 */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}