body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.header {
    background-image: linear-gradient(to right, #ff7f7f, #ffa07a);
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.service-card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #e9e9e9;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
    min-width: 150px; /* 카드의 최소 너비 설정 */
}

.service-card:hover {
    background-color: #ddd;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    /* 화면 너비가 768px 이하일 경우 */
    .main-content {
        padding: 10px;
    }

    .service-card {
        margin: 5px 0;
        flex-basis: 100%; /* 모바일 환경에서 100% 너비로 표시 */
    }
}

.sidebar {
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #34495e;
    transform: scale(1.05); /* 호버 시 약간 확대 */
}

.sidebar li::before {
    content: '\2022'; /* 원 모양의 bulletpoint */
    position: absolute;
    left: 15px;
    color: #ecf0f1;
}

.sidebar li:hover::before {
    color: #f7f7f7;
}

.ad-banner {
    position: fixed;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    right: 10px;
    width: 150px;
    height: 300px;
    background-color: #f1c40f;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1000; /* 높은 값으로 설정 */
}

/* 첫 번째 광고 배너 위치 조정 */
#ad-banner1 {
    top: calc(50% - 320px); /* 중앙에서 320px 위쪽에 배치 */
}

/* 두 번째 광고 배너 위치 조정 */
#ad-banner2 {
    top: calc(50% + 30px); /* 중앙에서 20px 아래쪽에 배치 */
}

.ad-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* 검은색 오버레이 */
}

.ad-button {
    position: relative;
    z-index: 1000; /* 높은 값 */
    display: inline-block; /* 혹시 몰라 display 속성도 추가 */
    padding: 10px 15px;
    background-color: #f39c12;
    color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ad-button:hover {
    background-color: #e67e22;
}