body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 40%;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    margin-bottom: 20px; /* 제목과 작성자 사이의 간격을 늘림 */
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #606770;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.author-date {
    display: flex;
    align-items: center;
}

.author, .date {
    margin-right: 10px; /* 작성자와 작성일 사이의 간격 */
}

.likes-views {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.views {
    margin-right: 10px; /* 조회수와 좋아요 사이의 간격 */
}

h1 {
    color: #1d2129;
    margin: 0;
}

button {
    padding: 8px 16px;
    background-color: #1877f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #155a8a;
}

.content {
    /*border: 1px solid #ddd;*/
    padding: 15px;
    margin: 10px 0;
    /*background-color: #fff;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    min-height: 0vh; /* 뷰포트 높이의 10%로 최소 높이 설정 */
    width: 65%;
}

.likes {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.likes button {
    padding: 8px;
    background-color: #1877f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
}

.likes button:hover {
    background-color: #155a8a;
}

.edit-button, .back-button {
    display: flex; /* Flexbox를 사용하여 내용을 중앙에 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    padding: 10px 20px; /* 패딩을 조정하여 버튼의 높이와 너비를 적절히 설정 */
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s; /* 호버 효과를 부드럽게 만들기 위한 전환 효과 */
    text-decoration: none;
    color: #333;
}

.edit-button {
    background-color: #1877f2;
    color: #fff;
}

.edit-button:hover {
    background-color: #155a8a;
}

.back-button {
    background-color: #f2f2f2;
}

.back-button:hover {
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* 댓글 영역 */
.comment-section {
    margin: 20px 0;
    border-top: 1px solid #ddd;
}

.comment-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#comment-input {
    width: 80%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-form button {
    padding: 8px 16px;
    background-color: #1877f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.comment-form button:hover {
    background-color: #155a8a;
}

.comment {
    position: relative; /* 추가 */
    height: 25px;
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.comment .author {
    font-weight: bold;
    margin-right: 10px;
}

/* 댓글 내용 영역 스타일 */
.comment-content {
    display: flex;
    flex-direction: column; /* 가로 방향으로 아이템 배치 */
    align-items: flex-start; /* 왼쪽 정렬 */
}


.toggle-subcomments {
    margin-top: 5px; /* 작성자 이름과의 간격 */
    padding: 2px 5px; /* 버튼 패딩 조정 */
    font-size: 10px; /* 글자 크기 조절 */
    background-color: #FF5733; /* 버튼 배경색 변경 */
    color: #fff; /* 글자색 */
    border: none;
    border-radius: 4px; /* 둥근 모서리 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-subcomments:hover {
    background-color: #FF7849; /* 호버 시 버튼 배경색 약간 밝게 */
}


.actions {
    display: flex; /* 수정/삭제 버튼을 같은 줄에 표시 */
    font-size: 0.8em;
    margin-left: auto;
}

.actions button {
    background-color: #1877f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    padding: 3px 8px; /* 패딩 조정 */
    margin: 0 3px; /* 간격 조정 */
    font-size: 12px; /* 글자 크기 조정 */
}

.actions button:hover {
    background-color: #155a8a;
}

/* 대댓글 스타일 */
.sub-comment {
    padding-left: 20px; /* 대댓글을 약간 들여쓰기 */
    border-left: 2px solid #ddd; /* 대댓글의 왼쪽 경계선 */
    margin-top: 10px;
    font-size: 0.9em; /* 글자 크기를 줄입니다 */
}

/* 대댓글 작성 폼 스타일 */
.subcomment-form, .sub-comment {
    display: none;
}

/* 대댓글 리스트 기본 숨김 */
.comment + .subcomment-form + ul {
    display: none;
}

.sub-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.original-subcontent {
    flex: 1;
    margin-right: 10px;
}

.subcomment-form {
    background-color: #f5f5f5; /* 회색 배경색 */
    padding: 10px; /* 패딩 추가 */
    border-radius: 5px; /* 모서리 둥글게 */
    margin-bottom: 20px;
}

.subcomment-form textarea {
    width: 99%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subcomment-actions {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬합니다. */
}

/* 대댓글 액션 버튼 스타일 */
.subcomment-actions button {
    margin-left: 5px;
    padding: 2px 8px; /* 크기 조정 */
    font-size: 13px;  /* 글자 크기를 조절합니다. */
    background-color: #2a3b4e; /* 배경색 변경 */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subcomment-actions button:hover {
    background-color: #e0e0e0;
}

.subcomment-form button {
    margin-left: 10px;
    padding: 2px 8px; /* 크기 조정 */
    font-size: 13px;  /* 글자 크기를 조절합니다. */
    background-color: #4c6d6c; /* 배경색 변경 */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subcomment-form button:hover {
    background-color: #0056b3; /* 버튼을 호버했을 때의 배경색 */
}

/* Pagination styles */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination span {
    margin: 0 5px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #e0e0e0;
}

.comment-actions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.comment-actions button {
    padding: 4px 8px; /* 버튼 크기를 줄입니다. */
    font-size: 0.8em; /* 글자 크기를 줄입니다. */
    margin-left: 5px; /* 버튼 사이의 간격을 조정합니다. */
}
