body {
    font-family: Arial, sans-serif;
    background-color: #f5f6f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.board-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
    transition: transform 0.2s;
}

.board-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.board-title a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.board-info {
    font-size: 14px;
    color: #606770;
    margin-top: 15px;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
}

.btn-fb-main, .btn-fb-write {
    background-color: #1877f2;
    border: none;
    color: white;
    transition: background-color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-fb-main:hover, .btn-fb-write:hover {
    background-color: #155a8a;
}

.pagination {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    display: inline;
}

.page-link {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #f5f6f7;
    color: #1877f2;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #e4e6eb;
}

.page-item.active .page-link {
    background-color: #1877f2;
    color: #ffffff;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e4e6eb;
}



@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
