body {
    font-family: Arial, sans-serif;
    background-color: #f5f6f7;
    margin: 0;
    padding: 0;
}

.container {
    clear: both;
    max-width: 50%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
}

/* Top Navbar */
.top-nav {
    background-color: #1877f2;
    color: #fff;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.branding h3 {
    margin: 0;
    font-weight: bold;
    display: inline-block;
}

.branding h3 a {
    color: #050505;
    transition: color 0.3s;
    text-decoration: none; /* 밑줄 제거 */
}

.branding h3 a:hover {
    color: #4c6d6c;
    text-decoration: none; /* 밑줄 제거 */
}

.menu {
    display: inline-block;
    float: right;
}

.menu a {
    color: #050505;
    margin: 0 10px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 100px;
    right: -38%;
    width: 200px;
    height: fit-content;
    padding: 20px;
    background-color: #d0cccc;
    border-left: 1px solid #e9ebee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
}

.ad-banner img {
    width: 100%;
    border-radius: 10px;
}

.utilities a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.utilities a:hover {
    background-color: #e9ebee;
}

/* Main Content */
.board-item {
    background-color: #f5f6f7;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: transform 0.2s;
    border: 1px solid #e9ebee;
}

.board-item:hover {
    background-color: #e9ebee;
    transform: scale(1.02);
}

.board-title a {
    text-decoration: none;
    color: #1d2129;
    font-size: 20px;
    font-weight: bold;
}

.board-info {
    font-size: 14px;
    color: #606770;
    margin-top: 15px;
}

.btn-fb-main, .btn-fb-write {
    background-color: #1877f2;
    border: none;
    color: white;
    transition: background-color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.btn-fb-main:hover, .btn-fb-write:hover {
    background-color: #155a8a;
}

/* Pagination */
.pagination {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    display: inline;
}

.page-link {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #f5f6f7;
    color: #1877f2;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #e4e6eb;
}

.page-item.active .page-link {
    background-color: #1877f2;
    color: #ffffff;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e4e6eb;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .sidebar {
        display: none; /* hide the sidebar on mobile */
    }
}
