<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello WebSocket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
</head>

<body>
<header>
    <a href="/main/rootPage" class="main-button">메인페이지</a> <!-- 메인페이지 버튼 추가 -->
    <h1>실시간 웹소켓 채팅</h1>
</header>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="websocket-status">
                <span class="status-label">웹소켓 연결상태:</span>
                <button id="connect" class="btn btn-success" type="submit">연결성공</button>
                <button id="disconnect" class="btn btn-danger" type="submit" disabled="disabled">연결해제</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="create-room-form" class="form-inline">
                <div class="form-group">
                    <label for="room-name">방 이름:</label>
                    <input type="text" id="room-name" class="form-control" placeholder="Enter room name">
                </div>
                <button type="submit" class="btn btn-primary">방 생성</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>방 목록</h2>
            <ul id="room-list"></ul>
        </div>
    </div>
</div>

<script src="/js/chat.js"></script>
</body>

</html>
