<!DOCTYPE html>
<head>
    <title>Hello WebSocket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">웹소켓 연결상태:</label>
                    <button id="connect" class="btn btn-default" type="submit">연결성공</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">연결해제
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="message">메시지:</label>
                    <input type="text" id="message" class="form-control" placeholder="Your message here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">전송</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>메시지</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="create-room-form" class="form-inline">
                <div class="form-group">
                    <label for="room-name">방 이름:</label>
                    <input type="text" id="room-name" class="form-control" placeholder="Enter room name">
                </div>
                <button type="submit" class="btn btn-default">방 생성</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>방 목록</h2>
            <ul id="room-list"></ul>
        </div>
    </div>

</div>

<script>
    $("#create-room-form").on('submit', function (e) {
        e.preventDefault();
        let roomName = $("#room-name").val();
        $.ajax({
            url: "/create-room",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({name: roomName}),
            success: function(data) {
                console.log("Room created: ", data);
                loadRoomList();
            }
        });
    });


    let currentRoomId = null;  // 현재 방 ID를 저장할 전역 변수
    // 방 목록을 불러올 때 각 방에 대한 클릭 이벤트 추가
    function loadRoomList() {
        $.get("/room-list", function (data) {
            $("#room-list").empty();
            // 방 목록을 불러올 때 각 방에 클릭 이벤트를 추가하고, 방을 클릭하면 해당 방의 ID를 currentRoomId에 저장하고, 해당 방에 대한 웹소켓 구독을 시작합니다.
            data.forEach(function (room) {
                let roomElement = $("<li>" + room.name + "</li>");
                roomElement.click(function() {
                    currentRoomId = room.id;  // 방을 클릭하면 해당 방의 ID를 저장
                    stompClient.subscribe('/subscribe/rooms/' + currentRoomId, function(greeting) {
                        showGreeting(JSON.parse(greeting.body).content);
                    });
                });
                $("#room-list").append(roomElement);
            });
        });
    }

    $(function () {
        loadRoomList();
        let stompClient = null;

        function setConnected(connected) {
            $("#connect").prop("disabled", connected);
            $("#disconnect").prop("disabled", !connected);
            if (connected) {
                $("#conversation").show();
            } else {
                $("#conversation").hide();
            }
            $("#greetings").html("");
        }

        function connect() {
            let socket = new SockJS('http://localhost:8080/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame); // 여기서 내 user-name을 가져오는듯?
                stompClient.subscribe('/subscribe/rooms/roomId', function (greeting) {
                    showGreeting(JSON.parse(greeting.body).content);
                });
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        // 메시지를 전송할 때 저장된 방 ID를 사용
        function sendMessage() {
            let message = $("#message").val();
            let chatRequest = {
                senderId: 1,  // 실제 사용자 ID로 변경해야 합니다.
                receiverId: 2,  // 실제 수신자 ID로 변경해야 합니다.
                roomId: currentRoomId,  // 저장된 방 ID를 사용합니다.
                message: message  // 입력한 메시지를 설정합니다.
            };
            stompClient.send("/publish/messages", {}, JSON.stringify(chatRequest));
        }

        function showGreeting(message) {
            $("#greetings").append("<tr><td>" + message + "</td></tr>");
        }

        $(function () {
            $("form").on('submit', function (e) {
                e.preventDefault();
            });
            $("#connect").click(function () {
                connect();
            });
            $("#disconnect").click(function () {
                disconnect();
            });
            $("#send").click(function () {
                sendMessage();
            });
        });
    });
</script>

</body>
