<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .logout-button {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #007BFF;
            color: #fff;
            cursor: pointer;
        }
        .logout-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<div>
    <button id="logout" class="logout-button">Logout</button>
</div>

<script>
    $(document).ready(function() {
        $('#logout').click(function() {
            // 로그아웃 요청을 서버에 전송
            $.ajax({
                url: '/user/logout',
                type: 'GET',
                success: function() {
                    // 로그인 페이지로 리다이렉트
                    window.location.href = '/login';
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    });
</script>

</body>
</html>
