<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 메인페이지</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<div class="sidebar">
    <ul>
        <li>메뉴 1</li>
        <li>메뉴 2</li>
        <li>메뉴 3</li>
    </ul>
</div>

<div class="header">
    <a href="/main/rootPage" class="main-button">HOME</a> <!-- 메인페이지 버튼 추가 -->
    <h1>Recipia</h1>
</div>

<div class="main-content">
    <p>환영합니다! 여긴 레시피아 메인 홈페이지입니다.</p>
    <button id="logout">로그아웃</button>

    <div class="services">
        <a href="/main/page" class="service-card">
            <h2>실시간 채팅방</h2>
        </a>
        <a href="/board/list" class="service-card">
            <h2>게시판 페이지</h2>
        </a>
        <a href="/portfolio" class="service-card">
            <h2>레시피아 요리 쇼핑몰 페이지</h2>
        </a>
        <a href="/contact" class="service-card">
            <h2>레시피아 소개 페이지</h2>
        </a>
    </div>

</div>

<!-- jQuery를 CDN에서 가져오기 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#logout').click(function() {
            // 로그아웃 요청을 서버에 전송
            $.ajax({
                url: '/user/logout',
                type: 'GET',
                success: function() {
                    // 로그인 페이지로 리다이렉트
                    window.location.href = '/login';
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    });
</script>
</body>
</html>
